<html>
    <head>
        <meta charset="utf-8">
        <title> Welcome {{titleUserName}} </title>
    </head>

    <body>
        <h1> Welcome {{bodyUserName}} !!! </h1>
        <p> Your Email: {{bodyEmail}} has been registered</p>

        {{> footer}}

    </body>

    
</html>